<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Trees Everywhere, {{ user.username }}</h1>

  <h2>Active Accounts</h2>
  <form action="{% url 'select_account' %}"" method="POST">{% csrf_token %}
    <select id="account" name="account_id">
      {% for account in accounts %}
      <option value="{{ account.id }}">{{ account.name }}</option>
      {% endfor %}
    </select><br><br>
    <button type="submit">Confirm</button>
  </form>
  <a href="{% url 'profile' %}">Check Profile</a>
</body>
</html>