<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Planted Trees</h1>

  {% if planted_trees %}
        <ul>
            {% for tree in planted_trees %}
                <li>
                    Tree: {{ tree.plant.name }} <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Hey, let's plant some trees!</p>
    {% endif %}
</body>
</html>